.LogoCarrito {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-left: 94%;
  margin-top: 4px;
}

.NumeroCarrito {
  position: absolute;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  margin-left: 92.5%;
  margin-top: 3px;
  color: black;
}

@media (max-width: 1025px) {
  .LogoCarrito {
    margin-left: 89%;
  }
  .NumeroCarrito {
    margin-left: 95%;
    margin-top: 20px;
  }
}

@media (max-width: 720px) {
  .LogoCarrito {
    margin-left: 85%;
  }
  .NumeroCarrito {
    margin-left: 93%;
    margin-top: 20px;
  }
}
@media (max-width: 420px) {
  .LogoCarrito {
    margin-left: 72%;
  }
  .NumeroCarrito {
    margin-left: 86%;
    margin-top: 20px;
  }
}

@media (max-width: 380px) {
  .LogoCarrito {
    margin-left: 73%;
  }
  .NumeroCarrito {
    margin-left: 89%;
    margin-top: 20px;
  }
}

@media (max-width: 365px) {
  .LogoCarrito {
    margin-left: 72%;
  }
  .NumeroCarrito {
    margin-left: 88%;
    margin-top: 20px;
  }
}
