@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");



.PantallaDividida{
    display: flex;
}

.ProductsCard{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap:60PX;
    padding: 20px;

    width: 50%;
}

.Product{
    border-style:solid ;
    border-color: black;
    border-radius: 20px;
    padding: 15px;
    text-align: center;    
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.Payment{

    width: 50%;
}

.Button{
    justify-content: center;
    text-align: center;
}
