@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");



.PantallaDividida{
    display: flex;
    text-align: center;
}

.ProductsCard{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap:60PX;
    padding: 20px;
}

.Product{
    border-style:solid ;
    border-color: black;
    border-radius: 20px;
    padding: 15px;
    text-align: center;    
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.Payment{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.ButtonClear{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    font-size: 20PX;
    margin-top: 20px;

}

h1{font-family: "Oswald", sans-serif;}

.ButtonRemove{
    background-color: red;
    color: WHITE;
    font-size: 20px;
    border-radius: 10PX;
}

.ButtonCheck{
    margin-top: 20PX;
    background-color: green;
    color: WHITE;
    font-size: 20px;
    border-radius: 10PX;
}

